.navbarContainer {
  width: 100%;
  height: 6vh;
  background-color: violet;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-style: solid;
  border-bottom-color: black;
}

.containerList {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}
